@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;

@model CampaignListModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
<div class="card">
	<div class="card-header">
		<h2>Campaign Outdoor Paradise</h2>
		<p>
			<a asp-action="Create" class="btn btn-primary">Create New</a>
		</p>
	</div>
	<div class="table-responsive table-striped table-bordered card-body">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>
						@Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						@Html.ActionLink("Promotion", "Index", new { sortOrder = ViewBag.PromotionSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						@Html.ActionLink("Discount", "Index", new { sortOrder = ViewBag.DiscountSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						Options
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model.Campaigns) {
					<tr>
						<td>
							@Html.DisplayFor(model => item.Product)
						</td>
						<td>
							@Html.DisplayFor(model => item.Promotion)
						</td>
						<td>
							@Html.DisplayFor(model => item.Discount)
						</td>
						<td>
							<a asp-action="Edit" asp-route-product="@item.Product"  asp-route-promotion="@item.Promotion" class="btn btn-outline-primary" style="margin-bottom:5px;">Edit</a>
							<a asp-action="Details" asp-route-product="@item.Product"  asp-route-promotion="@item.Promotion" class="btn btn-outline-primary" style="margin-bottom:5px;">Details</a>
							<a asp-action="Delete" asp-route-product="@item.Product"  asp-route-promotion="@item.Promotion" class="btn btn-outline-danger" style="margin-bottom:5px;">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br />
	<nav aria-label="Page navigation example">
		@Html.PagedListPager(Model.Campaigns, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions() {
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" },
		DisplayEllipsesWhenNotShowingAllPageNumbers = false,
		DisplayItemSliceAndTotal = false
		})
	</nav>
</div>