@model ExcursieIndexModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h2>Details</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Excursie: @Model.Name from @Model.GidsNaam</h5>
		<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
		<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
		<a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
		<hr />
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-header">
				<h4>Info</h4>
			</div>
		</div>
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Name)</h6>
				<p class="card-text">@Html.DisplayFor(model => model.Name)</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Datum)</h6>
				<p class="card-text">@Html.DisplayFor(model => model.Datum)</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Description)</h6>
				<p class="card-text">@Html.DisplayFor(model => model.Description)</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Prijs)</h6>
				<p class="card-text">@Html.DisplayFor(model => model.Prijs)</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;margin-bottom:10px;">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">Gids</h6>
				<p class="card-text">@Html.DisplayFor(model => model.GidsNaam)</p>
			</div>
		</div>
	</div>
</div>
