@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;

@model ImageListModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
<div class="card">
	<div class="card-header">
		<h2>Image Outdoor Paradise</h2>
		<p>
			<a asp-action="Create" class="btn btn-primary">Create New</a>
		</p>
		@using(Html.BeginForm()) {
			<p>
				Find by name: @Html.TextBox("SearchString")
				<input type="submit" value="Search" class="btn btn-primary" />
			</p>
		}
	</div>
	<div class="table-responsive table-striped table-bordered card-body">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>
						@Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						@Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						@Html.ActionLink("Image path", "Index", new { sortOrder = ViewBag.IPathSortParm, currentFilter = ViewBag.CurrentFilter })
					</th>
					<th>
						Image
					</th>
					<th>
						Options
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model.Images) {
					<tr>
						<td>
							@Html.DisplayFor(model => item.Id)
						</td>
						<td>
							@Html.DisplayFor(model => item.Name)
						</td>
						<td>
							@Html.DisplayFor(model => item.Product_id)
						</td>
						<td>
							@Html.DisplayFor(model => item.Imagepath)
						</td>
						<td>
							<img src="@Html.DisplayFor(modelItem => item.Imagepath)" style="width:200px;height:100px" />
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" style="margin-bottom:5px;">Edit</a>
							<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary" style="margin-bottom:5px;">Details</a>
							<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" style="margin-bottom:5px;">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br />
	<nav aria-label="Page navigation example">
		@Html.PagedListPager(Model.Images, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions() {
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" },
		DisplayEllipsesWhenNotShowingAllPageNumbers = false,
		DisplayItemSliceAndTotal = false
		})
	</nav>
</div>