@model Reis_uitvoeringCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Create</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Reis Uitvoering</h5>
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="rowoverride">
                <div class="coloverride">
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-header">
                            <h2>Uitvoering Aanmaken</h2>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-body">
                            <label asp-for="Begin_datum" class="control-label"></label>
                            <input asp-for="Begin_datum" class="form-control" type="date" value="@DateTime.Now" required title="Required" />
                            <span asp-validation-for="Begin_datum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-body">
                            <label asp-for="Eind_datum" class="control-label"></label>
                            <input asp-for="Eind_datum" class="form-control" type="date" value="@DateTime.Now" required title="Required" />
                            <span asp-validation-for="Eind_datum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-body">
                            <label asp-for="Prijs_per_deelnemer" class="control-label"></label>
                            <input asp-for="Prijs_per_deelnemer" class="form-control" required title="Required" />
                            <span asp-validation-for="Prijs_per_deelnemer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-body">
                            <label class="control-label">Reis</label>
                            <select asp-for="Reis" class="chosen form-control" asp-items="@(new SelectList(Model.Reizen, "Id", ("Name")))" required="required" title="Choose 1"></select>
                        </div>
                    </div>
                </div>
                <div class="coloverride">
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <div class="card-header">
                            <h2>Excursies</h2>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;margin-bottom:10px;">
                        <fieldset>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Choose Excursions</h5>
                                </div>
                            </div>
                            <div class="card">
                                @foreach (var e in Model.Excursies)
                                {
                                <div style="margin: 5px; margin-left:20px;">
                                    <input type="checkbox" name="checks" value="@e.Id" />  @e.Datum.ToString() | @e.Name <br />
                                </div>
                                }
                            </div>
                            </fieldset>
                    </div>
                </div>             
                </div>
            </form>
    </div>



</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
