@model Promotion

@{
	ViewData["Title"] = "Details";
	Layout = "../Shared/_MarketingLayout.cshtml";
}
<div class="card">
	<div class="card-header">
		<h2>Details</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Promotion: @Model.Name</h5>
		<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
		<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
		<a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
		<hr />
		<div class="rowoverride">
			<div class="coloverride">
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-header">
						<h4>Promotion Info</h4>
					</div>
				</div>
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Id)</h6>
						<p class="card-text">@Html.DisplayFor(model => model.Id)</p>
					</div>
				</div>
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">Name</h6>
						<p class="card-text">@Html.DisplayFor(model => model.Name)</p>
					</div>
				</div>
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">Description</h6>
						<p class="card-text">@Html.DisplayFor(model => model.Description)</p>
					</div>
				</div>
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">Start date</h6>
						<p class="card-text">@Html.DisplayFor(model => model.Date_start)</p>
					</div>
				</div>
				<div class="card" style="width: 18rem;margin-bottom:10px;">
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">End date</h6>
						<p class="card-text">@Html.DisplayFor(model => model.Date_end)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
