@model Reis_uitvoeringCreateModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Details</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Reis Uitvoering details</h5>
        <a asp-action="Tours" asp-controller="Welcome" class="btn btn-outline-dark">Back to List</a>
        <hr />
        <div class="rowoverride">
            <div class="coloverride">
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-header">
                        <h4>Uitvoering Info</h4>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Totaal prijs</h6>
                        <p class="card-text">@Html.DisplayFor(model => model.TotaalPrijs)</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Prijs Reis</h6>
                        <p class="card-text">@Html.DisplayFor(model => model.Prijs_per_deelnemer)</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Begin Datum,</h6>
                        <p class="card-text">@Html.DisplayFor(model => model.Begin_datum)</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Eind Datum</h6>
                        <p class="card-text">@Html.DisplayFor(model => model.Eind_datum)</p>
                    </div>
                </div>
            </div>

            @if (Model.ExcursiesModel.Any())
            {
            @foreach (var e in Model.ExcursiesModel)
            {
            <div class="coloverride">
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-header">
                        <h4>Excursie: @e.Name</h4>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Gids</h6>
                        <p class="card-text">@e.GidsNaam</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Prijs</h6>
                        <p class="card-text">@e.Prijs</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Datum</h6>
                        <p class="card-text">@e.Datum</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;margin-bottom:10px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                        <p class="card-text">@e.Description</p>
                    </div>
                </div>
            </div>
            }
            }


            </div>
    </div>
</div>



